#pills-home-tabs{
    background-color:#1F618D;
    color: white;
}

#pills-home-tabs:hover{
    background-color:#022B47;
    color: white;
}

#pills-home-tab:hover{
    background-color:#1F618D;
    color: white;
}

#admin-container{
    margin: 40px auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#admin-container > h1{
    font-size: 72px;
    font-weight: 100;
}

#admin-container > h1:hover{
    font-size: 72px;
    font-weight: 400;
}

#admin-container > h2, h4, a{
    text-decoration: none;
}

#admin-container > h2:hover, h4:hover, a:hover{
    text-decoration: none;
}

/* buttons */
.button-container{
    text-align: center;
}

.btn-content{
    border: #24a0ed solid 1.5px;
    padding: 5px;
    border-radius: 8px;
}

.btn-content:hover{
    color: white;
    background-color: #24a0ed;
}

/* cards */

.card-deck{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 45%;
    margin-right: -45%;
}

.card-image{
   opacity: 0.8;
}

.card-image:hover{
    opacity: 1;
}

