#pills-home-tabs{
    background-color:#1F618D;
    color: white;
}

#pills-home-tabs:hover{
    background-color:#022B47;
    color: white;
}

#pills-home-tab:hover{
    background-color:#1F618D;
    color: white;
}

#member-container{
    margin: 40px auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#member-container > h1{
    font-size: 72px;
    font-weight: 100;
}

#member-container > h1:hover{
    font-size: 72px;
    font-weight: 400;
}

#member-container > h2, h4, a{
    text-decoration: none;
}

#member-container > h2:hover, h4:hover, a:hover{
    text-decoration: none;
}

.card-deck{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 45%;
    margin-right: -45%;
}

.card-image{
   opacity: 0.8;
}

.card-image:hover{
    opacity: 1;
 }