
/* Navigation */
nav{
    background-color: #e3f2fd;
  }
  #pills-home-tabs:hover{
    background-color: #022B47;
    color: white;
  }
  
  
  /* Login Form */
  .container{
   box-shadow: 6px 4px 8px 6px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 2%;
  }
  
  .container:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
    
  .container > form > h1{
      text-align: center;
      padding-bottom: .5%;
  }
  
  .container-field{
      display: block;
      list-style: none;
      padding-bottom: .1%;
  }
  
  .container-field > button{
    color: white;
    background-color: #022B47;
  }
  
  .container-pass{
      display: block;
      list-style: none;
      padding-bottom: 60px;
  }
  
  form {
      border: 3px solid #f1f1f1;
    }
  
    /* Full-width inputs */
  #name, #pass, #email, #pass2 {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    /* Add a hover effect for buttons */
    button:hover {
      opacity: 0.8;
    }
    
    span.psw {
      float: left;
      padding-top: 16px;
    }
  