#pills-home-tabs{
    background-color:#1F618D;
    color: white;
}

#pills-home-tabs:hover{
    background-color:#022B47;
    color: white;
}

#pills-home-tab:hover{
    background-color:#1F618D;
    color: white;
}

#admin-container{
    margin-top: 3%;
    color: #696969;
    padding: 5%;
    padding-bottom: 1%;
    text-align: center;
    border-radius: 2px;
    box-shadow: 10px 4px 8px 7px rgba(0, 0, 0, 0.2);
}

#admin-container:hover{
    border-radius: 2px;
    box-shadow: 10px 14px 18px 17px rgba(0, 0, 0, 0.2); 
}

#admin-container > h1{
    font-size: 72px;
    font-weight: 100;
}

#admin-container > h1:hover{
    font-size: 72px;
    font-weight: 400;
}

#admin-container > form {
    margin-top: -4%;
}

#admin-container > form > .form-group {
    padding-bottom: 20px;
}

/* cards */

.card{
    text-align: left;
    padding: 20px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover{
    box-shadow: 10px 14px 18px 17px rgba(0, 0, 0, 0.2); 
}

#edit{
    float: right;
    margin-right: 13%;
}

#delete{
    float: right;
    margin-right: -21%;
}