#pills-home-tabs{
    background-color:#1F618D;
    color: white;
}

#pills-home-tabs:hover{
    background-color:#022B47;
    color: white;
}

#pills-home-tab:hover{
    background-color:#1F618D;
    color: white;
}

#member-container{
    margin-top: 3%;
    color: #696969;
    padding: 5%;
    padding-bottom: 1%;
    text-align: center;
    border-radius: 2px;
    box-shadow: 10px 4px 8px 7px rgba(0, 0, 0, 0.2); 
}

#member-container:hover{
    border-radius: 2px;
    box-shadow: 10px 14px 18px 17px rgba(0, 0, 0, 0.2); 
}

#member-container > h1{
    font-size: 72px;
    font-weight: 100;
}

#member-container > h1:hover{
    font-size: 72px;
    font-weight: 400;
}

/* cards */

.container > .img{
    margin-top: -7%;
}

.container > .img > img{
    float: left;
    border: none;
}


.container > .img > img:hover{
    width: 300px;
    height: 450px;
    cursor: pointer;
}


.container > .description{
    float: center;
    border: none;
    padding-top: 5%;
    margin-right: 30%;
}

.container > .buttons{
    float: right;
    border: none;
    padding: 20px;
    margin-right: -5%;
}

.container > .buttons > button{
    margin-bottom: -100%;
    padding: 10px 15px;
}