.btn-nav{
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    border: none;
    padding: 10px;
    position: fixed;
}

#login{
    margin-left: -12%;
}

#register{
    margin-left: -8%;
}

#welcome-container{
    color: #696969;
    padding: 10%;
    text-align: center;
}

#welcome-container > h1{
    font-size: 72px;
    font-weight: 100;
}

#welcome-container > h1:hover{
    font-size: 72px;
    font-weight: 400;
}


#search-field{
    padding: 2%;
    margin-top: 10%;
}

#search-form{
    padding: 2.5%;
}

.search-btn{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
}

#card-decks{
    margin-top: -5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.card-image{
   opacity: 0.8;
}

.card-image:hover{
    opacity: 1;
 }